*
!**/
!.gitignore
!*.md
!*.myfuncs
!*.sh
!*.c
!*.py
!makefile
!*.html
!requirements.txt
!Dockerfile
!Jenkinsfile
!*.tf
!*.yaml


.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfvars
.venv
